<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SkillMapper">
	<resultMap id="skillResultMap"
		type="com.example.demo.dto.Skill">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description"
			jdbcType="VARCHAR" />
	</resultMap>

	<select id="getSkillList" resultMap="skillResultMap">
		select id, name, description
		from skill
	</select>

	<select id="getSkillById" parameterType="int"
		resultMap="skillResultMap">
		select id, name, description
		from skill
		where id = #{id}
	</select>

	<insert id="insertSkill"
		parameterType="com.example.demo.dto.Skill" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO
		SKILL
		<trim prefix="(">
			<if test="name != null">
				name
			</if>
			<if test="description != null">
				,description
			</if>
		</trim>
		)
		VALUES
		<trim prefix="(">
			<if test="name != null">
				#{name}
			</if>
			<if test="description != null">
				,#{description}
			</if>
		</trim>
		)
	</insert>

	<update id="updateSkill"
		parameterType="com.example.demo.dto.Skill">
		UPDATE
		skill
		SET

		<if test="name != null">
			name = #{name}
		</if>
		<if test="description != null">
			,description = #{description}
		</if>
		WHERE
		id = #{id}
	</update>
	
	<delete id="deleteSkill" parameterType="int">
		delete from skill where id=#{id}
	</delete>

</mapper>

